footer
{
    margin-top: 100%;
    background-color: #1e1e1e;
}

.btn-outline-light
{
    border: none;
    position: relative;
    right: 440px;
    top: 25px;

}

.text
{
    text-decoration: none;
    font-size: 13px;
    color: #6b6b6b;
}

footer li
{
    text-align: left;
    padding: 7px;


}

.cod
{
    text-decoration: none;
    color: #6b6b6b;
    position: relative;
    right: 435px;
}

.servico
{
    border:1px solid #6b6b6b;
    padding: 4px;
    top: -5px;
}

.p-3
{
    right: 432px;
    font-size: 11px;

}

.div1
{
    position: relative;
    right: -90px;
}

.div4
{
    position: relative;
    right: 90px;
}

.div5
{
    position: relative;
    right: 150px;
}

.p-4
{
    position: relative;
    left: 50px;

}

.btn-outline-light
{
    font-size: 23px;
}
