body, html{
    margin: 0;
    width: 100%;
    background-color: #181414;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

h1, h2, h3, h4, p {
    color: white;
}

#search{
    color: azure;
}

.emphasis{
    position: relative;
    height: 80%;
}

.imgPricipal{
    z-index: 0;
    width: 100%;
    opacity: 0.8;
}

.imgTitlePricipal{
    width: 30%;
}

.watchPricipal{
    width: 50%;
    font-size: 30px;
    font-weight: bolder;
}

.synopsisPricipal{
    width: 50%;
}

.imgTitlePricipal, .watchPricipal, .synopsisPricipal{
    position: relative;
    bottom: 700px;
    left: 5%;
}

.btnPlay, .btnInformation{
    position: relative;
    bottom: 700px;
    left: 4%;
}

/* Btn Play */

#btnPlayId{
    margin: 0px 14px 0px 14px;
    padding: 11px 34px 20px 28px;
    font-size: 20px;
    font-weight: 700;
    background: #FFFFFF;
    color: #000000;
    align-items: center;
    cursor: pointer;

    text-decoration: none;

    border-radius: 4px;
}

#btnPlayId:hover{
    background: rgba(255, 255, 255, 0.7);
}

/* Finish BtnPlay */

.txtAssistir, .txtMaisInformacoes{
    margin-left: 10px;
}

/* Btn Information */

.btnInformation{
    margin: 0px 14px 0px 14px;
    padding: 11px 34px 11px 28px;
    font-size: 20px;
    font-weight: 700;
    background: #FFFFFF;
    align-items: center;
    cursor: pointer;

    left: 3%;
}

#btnInformationId{
    background: rgb(109, 109, 109, 0.6);
    color: #FFFFFF;
    border-radius: 4px;
}

#btnInformationId:hover{
    background: rgba(109, 109, 109, 0.3);
    border-radius: 4px;
}

/* Finish Btn Information */

/* Btn Return */

.btnReturn{
    position: relative;
    bottom: 760px;
    left: 90%;

    width: 10%;
}

.imgReturn{
    display: block;
    margin: 0;
    
    position: relative;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: white;
}

#slash{
    position: relative;
    background: rgb(51, 51, 51, 0.6);
    padding: 10px 64px 15px 15px;
    border-left: 3px solid rgb(255, 255, 255, 0.8);
    left: 35%;
    bottom: 43px;
}

.classification{
    width: 22%;
}

/* Finish Btn Return */

/* Carousel General */

.img-wrapper{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
    margin-bottom: 3%;

    border-radius: 10px;
    background-color: #000000;
}

.imgCarouselList{
    width: 100%;
    height: 100%;
}

.imgCarouselList{
    border-radius: 10px;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-control-prev{
    width: 5%;
    height: 170px;
    top: 42px;
}

.carousel-control-next{
    width: 5%;
    height: 170px;
    top: 42px;
}

/* Finish Carousel General */

/* Carroussel MyList */

#myListId{
    position: relative;
    width: 95%;
    left: 5%;

}

/* Finish Carousel MyList */

/* Carousel Anime */

#animeId{
    position: relative;
    width: 95%;
    left: 5%;
}

/* Finish Carousel Anime */

/* Carousel Champions */
.champions{
    position: relative;
    width: 95%;
    left: 5%;
}

/* Finish Carousel Champions */

/* Carousel ClueForYou */

.clueForYou{
    position: relative;
    left: 5%;
    width: 95%;
}

/* Finish Carousel ClueForYou */

/* Carousel inBrazilTop10 */

.inBrazilTop10{
    position: relative;
    left: 5%;
    width: 95%;
}

/* Finish Carousel inBrazilTop10 */

/* .square {
    width: 150px;
    height: 100px;
    transition: transform 100ms ease-out, border-radius 200ms ease-out;
  }
  
  .square .cover {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    background-size: cover!important;
    background-position: center!important;
  }
  
  .square .text {
    display: none;
    background: #181818;
    color: #fff;
    width: 100%;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    transition: opacity 300ms ease-out, border-radius 200ms ease-out;
    border-radius: 0 0 10px 10px;
  }
  
  .square:hover {
    border-radius: 10px;
    transform: scale(1.5);
    box-shadow: 0 0 2px #000a;
  }
  
  .square:hover .text {
    display: block;
  }
  
  .square.one .cover {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg/320px-Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg), #181818;
  }
  
  .square.one:hover .cover {
    background: url(https://media.giphy.com/media/lgcUUCXgC8mEo/giphy.gif), url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg/320px-Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg), skyblue;
  } */